<style type="text/css">
	.banner{
		text-align: center;
		background-color: rgb(93, 130, 187);
		width: 100%;
	}
	.banner h2{
		line-height: 45px;
		font-family: microsoft yahei;
		color: white;
	}
	.icon-self{
		height: 24px;
		width: 24px;
		background: url(../images/glyphicons-halflings.png) no-repeat -163px 4px;
		display: inline-block;
		border-radius: 24px;
		border: 1px solid rgb(128, 148, 211);
		background-color: rgb(124, 190, 241);
		float: right;
		margin-top: -35px;
		margin-right: 20px;
	}
</style>
<div class="banner">
	<h2>个人网站</h2>
	<a class="icon-self" href="./people" target="_self"></a>
</div>