<!--列表信息框-begin-->
<style>
	.msgback{
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: black;
		opacity: 0.3;
	}
	.msg-contain{
		
	}
</style>
<div class="msgback">
	<div class="msg-contain">
		<ul class="msg-list">
			<li class="msg-item"></li>
			<li class="msg-item"></li>
			<li class="msg-item"></li>
			<li class="msg-item"></li>
		</ul>
	</div>
</div>
<!--列表信息框-end-->