<% include ../../basechips/header.ejs %>
<% include ../../basechips/banner.ejs %>
<% include ../../chiptools/headermenu.ejs %>
<% include ../../chiptools/navigation.ejs %>
<style type="text/css">
	.main{
		width: 100%;

	}
	.note-title p{
		text-align: center;
		line-height: 30px;
		background-color: rgb(202, 223, 175);
	}
	.note-icon-add{
		display: inline-block;
		background: url(../../images/glyphicons-halflings.png) no-repeat 0 -48px;
		width: 24px;
		height: 24px;
		float: right;
		top:-20px;
		position: relative;
	}
	.note-icon-write{
		display: inline-block;
		background: url(../../images/glyphicons-halflings.png) no-repeat 0 -48px;
		width: 24px;
		height: 24px;
		float: right;
	}
</style>
<div class="main">
	<div class="note-title">
		<p>日记列表</p>
		<i class="note-icon-add"></i>
	</div>
	<div class="note-body">
		<ul class="note-items">
			<li class="note-item">
				<a href="#">日记一</a>
				<i class="note-icon-write"></i>
			</li>
			<li class="note-item">
				<a href="#">日记一</a>
				<i class="note-icon-write"></i>
			</li>
			<li class="note-item">
				<a href="#">日记一</a>
				<i class="note-icon-write"></i>
			</li>
			<li class="note-item">
				<a href="#">日记一</a>
				<i class="note-icon-write"></i>
			</li>
			<li class="note-item">
				<a href="#">日记一</a>
				<i class="note-icon-write"></i>
			</li>
			<li class="note-item">
				<a href="#">日记一</a>
				<i class="note-icon-write"></i>
			</li>
		</ul>
	</div>
</div>
<% include ../../basechips/footer.ejs %>